<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crate</title>
</head>
<body>
<form method="post" action="/addEmployee" th:object="${employee}" novalidate="novalidate">
    <table>
        <tr>
            <td>Employee ID:</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Employee Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Contact Number:</td>
            <td><input type="text" th:field="*{contactNum}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>